@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 2;
    padding: 0;
    display: grid;
}

.navbar li {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar li:hover {
    text-decoration: underline;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0rem .1rem rgba(250, 0, 175, 0.877);
}

.navbar a,
.navbar a:focus {
    transition: 0.3s;
}

.sps--abv{
    background-color: transparent;
    color: #000;
}

.sps--blw{
    background-color: rgb(229, 199, 247);
    color: #fff;
}

.btn-cotizar {
    background: #FF1493;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    white-space: nowrap;
    text-decoration: none;
    margin-left: 50px;
}

.btn-cotizar:hover {
    background: #FF1493;
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 992px) {
    .btn-cotizar {
        margin: 0 15px 0 0;
        padding: 8px 20px;
        letter-spacing: 1px;
    }
}

#redes {
    margin-left: 50px;
    text-decoration: none;
    box-shadow: none;
}

.i-redes {
    width: 30px;
    margin: 10px 10px;
    align-items: center;
}

.carousel-item {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

h1 {
    font-family: 'Dancing Script', cursive;
    background: #FF1493;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 15px;
    font-size: 25px;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* =========SOBRE NOSOTROS==========*/
#about {
    background-color: aliceblue;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.ref {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.row video {
    float: center;
    padding: .5rem;
    width: 80%;
    height: 70vh;
    margin: 1rem;
    margin-top: 30px;
    background-color: rgb(242, 119, 247);
    border-radius: 1rem;
}

/* =========SERVICIO==========*/
#servicio {
    background-color: rgb(211, 208, 204);
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.serv {
    float: center;
    padding: .5rem;
    width: 80%;
    height: 70vh;
    margin: 10%;
    margin-top: 30px;
    background-color: rgb(242, 119, 247);
    border-radius: 1rem;
    transition: transform .2s;
}

.serv:hover {
    transform: scale(1.2);
}

/* =========REFERENCIAS==========*/
#referencias {
    background-color: rgb(32, 32, 30);
    padding: 80px 0;
    display: grid;
    justify-content: center;
    align-content: center;
}

.swiper-container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.swiper-slide {
    grid-template-columns: auto;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
}

.sw {
    border-radius: 1rem;
    height: 70vh;
    margin-left: 1rem;
}


/*--------------------------------------------------------------
# Galeria
--------------------------------------------------------------*/

#galeria {
    background-color: rgb(255, 255, 255);
    padding: 80px 0;
    display: grid;
    justify-content: center;
    align-content: center;
}

#galeria .swiper-container{
    padding-top: 5px;
    padding-bottom: 50px;
}

#galeria .swiper-slide {
    margin-left: 1rem;
}

#galeria .sw {
    border-radius: 1rem;
    width: 110%;
    height: 300px;
    background-color: rgb(243, 96, 96);
    box-shadow: 0 4px 8px 8px rgb(255, 59, 59), 0 3px 10px 0 rgba(255, 59, 59, 0.1);
}

/*--------------------------------------------------------------
# Contacto
--------------------------------------------------------------*/

#contacto {
    background-color: aquamarine;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

#contacto p {
    font-family: 'Lobster', cursive;
}

.card {
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 1%;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.php-email-form {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: #fff;
}

.php-email-form .form-group {
    padding-bottom: 8px;
}


.php-email-form input,
.php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.php-email-form input {
    height: 44px;
}

.php-email-form textarea {
    padding: 10px 12px;
}

.php-email-form button[type=submit] {
    background: #ffb03b;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.php-email-form button[type=submit]:hover {
    background: #ffa012;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
    background-color: rgb(0, 0, 0);
    padding: 100px 0;
    text-align: center;
}

#footer .social-links {
    margin: 0 0 40px 0;
    display: flex;
    float: right;
    margin-right: 80px;
}


#footer .r-img {
    font-size: 30px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 60%;
    text-align: center;
    width: 50px;
    height: 60px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #ffffff;
    border-radius: 50%;
    border-width: 50%;
    line-height: 1;
    transition: 0.3s;
}

#footer .f-parrafo{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    float: inline-start;
}

#footer .f-parrafo hr{
    padding: 1rem;
}

#footer .f-btn{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}


/* MEDIAS*/
@media (min-width: 480px) {
    .body {
        display: grid;
        grid-template-areas:
            "header carousel"
            "nav nav"
            "main main"
            "footer footer"
        ;
    }

}

@media (min-width: 768px) {
    .body {
        display: grid;
        grid-template-areas:
            "header carousel"
            "nav nav"
            "main main"
            "footer footer"
        ;
    }

    #servicio {
        align-items: center;
        display: grid;
        gap: 10px;
        align-items: center;
    }

}

@media (min-width: 992px) {
    .body {
        display: grid;
        grid-template-areas:
            "header carousel"
            "nav nav"
            "main main"
            "footer footer"
        ;
    }

    #servicio {
        align-items: center;
        display: grid;
        gap: 10px;
        align-items: center;
    }

}

@media (min-width: 1280px) {
    .body {
        display: grid;
        grid-template-areas:
            "header carousel"
            "nav nav"
            "main #main"
            "footer footer"
        ;
    }

}

@media(max-width: 600px){
    #footer, .footer, .btn-ftr, .f-parrafo,.social-btn{
        display:flex;
        grid-template-columns: max-content; 
        padding:1rem;
        margin: 5%;
        align-self: center;
        justify-content: center;
    }
    
    .social-links{
        width: 100%;
        align-self: center;
        justify-content: center;
    }

    #galeria {
        display: flex;
        width: 80%;
        align-items: center;
        justify-self: center;
        margin: 10%;
        padding: 1rem;
    }
}



